body {
  font-family: 'Poppins', sans-serif;
  background: #fff0f6;
  margin: 0;
  color: #6d2a4d;
}

header {
  background: #ff80ab;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0.5rem;
}

nav button {
  font-size: 1.2rem;
  background: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
}

main {
  padding: 1rem;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: 2px solid #e91e63;
}

button {
  background: #e91e63;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
  font-weight: bold;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

ul li {
  background: white;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #ffd9e8;
}